 //Farver til ToDoApp   
    
    //Primary colors
    
    $light: #E4C5EA;
    $medium: #999;
    $dark: #333;
    $black: #212121;
    $primary: #4ae;
    $secondary: #ddd;
    $danger: #d44;
    $success: #deb887;
    $headings: #32729b;
      /* BUTTONS */
    $static: #44ccee;
    $active: #00ff84;