//Footer

/* FOOTER */
 @use 'global';
 @use 'button';

footer{
    font-family: "Montserrat", sans-serif;
    text-align: center;
    border-style: solid;
    border-width: 1px;
  }
  #mainFooter {
    font-family: "Montserrat", sans-serif;
    position: relative;
    display: flex;
    justify-content: space-between;
  }
  #mainFooter button:last-of-type{
    position: absolute;
    right: 20px;
  }
